include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ckantheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ckantheme/migration *.ini *.py *.mako
