{% ckan_extends %}

{% block footer_content %}
    {% block footer_nav %}
        <ul class="list-unstyled">
            {% block footer_links %}
                <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% block footer_attribution %}

    {% endblock %}
    {% block footer_lang %}
    
    {% endblock %}

    {% block footer_img %}
        <div class="Version">
            <p>OBEMI | Versão: 1.0</p>
            <p>© 2023 | Instituto Federal de Educação, Ciência e Tecnologia de Sergipe</p>
        </div>
        <div class="footerimg">
            <img src="/LogoIFS.png" alt="LogoIfs" title="LogoIFS" class="logoifs">
            <img src="/LogoOBEMIvertical.png" alt="LogoOBEMIvertical" title="LogoOBEMIvertical" class="LogoOBEMIvertical">
        </div>
    {% endblock %}
{% endblock %}
