{% ckan_extends %}



{% block header_account %}
    {{ super() }}
    <div class="logo">
        <a class="logo" href="{{ h.url('home.index') }}">
            <img src="/logo.png" alt="OBEMI" title="OBEMI" />
        </a>
        {% block header_initial_page %}
          <ul class="Inicio">
            <li class="Inicio">
              <div class="Inicio">
                 <a href="{{ h.url_for('home.index') }}" title="Inicio">
                   <span class="fa fa-home"></span>
                   <span class="text">{{ _('Inicio') }}</span>
                 </a>
              </div>
            </li> 
           </ul>
{% endblock %}
        {% block header_site_search2 %}
            {# Conteúdo do bloco header_site_search2, caso queira adicionar algo específico aqui #}
            <div class="serch">
            <div class="database">
                <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
                    <div class="field">
                        <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
                        <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Procurar Base de Dados') }}" aria-label="{{ _('Search datasets') }}"/>
                        <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>  
            {% if request.url.endswith('/group/') or request.url.endswith('group/') or 
            request.url.endswith('/dataset/') or request.url.endswith('dataset/') %}                 

            <div class="Instituicao">
                <button type="button" data-target="#inttuisdown" data-toggle="collapse" class="orglist" aria-label="expand or collapse" aria-expanded="true">
                    <span class="text">{{ _('Instituições') }}</span>
                    <span class="fa fa-arrow-down"></span>
                </button>
                <div id="instituidown" class="instituisdown collapse">
                    {% block organizations_list %}
                        {% if page.items or request.params %}
                            {% if page.items %}
                                {% snippet "organization/snippets/organization_list.html", organizations=page.items %}
                            {% endif %}
                         {% endif %}
                    {% endblock %}
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var dropdownButton = document.querySelector(".Instituicao button");
                    var dropdownContent = document.getElementById("instituidown");

                    dropdownButton.addEventListener("click", function () {
                        if (dropdownContent.classList.contains("show")) {
                            dropdownContent.classList.remove("show");
                            dropdownButton.setAttribute("aria-expanded", "false");
                        } else {
                            dropdownContent.classList.add("show");
                            dropdownButton.setAttribute("aria-expanded", "true");
                        }
                    });
                });
            </script>
            {% endif %}
            {% if request.url.endswith('/dataset/') or request.url.endswith('dataset/') %}                

            <div class="Curso">
                <button type="button" data-target="#cursodown" data-toggle="collapse" class="orglist" aria-label="expand or collapse" aria-expanded="true">
                    <span class="text">{{ _('Cursos') }}</span>
                    <span class="fa fa-arrow-down"></span>
                </button>
                <div id="cursodown" class="cursodown collapse">
                    {% block groups_list %}
                        {% set groups = h.most_popular_groups() %}

                        {% for group in groups %}
                            <div class="box span3">
                                {% snippet 'snippets/group_item.html', group=group, truncate=50, truncate_title=35 %}
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var dropdownButton = document.querySelector(".Curso button");
                    var dropdownContent = document.getElementById("cursodown");

                    dropdownButton.addEventListener("click", function () {
                        if (dropdownContent.classList.contains("show")) {
                            dropdownContent.classList.remove("show");
                            dropdownButton.setAttribute("aria-expanded", "false");
                        } else {
                            dropdownContent.classList.add("show");
                            dropdownButton.setAttribute("aria-expanded", "true");
                        }
                    });
                });
            </script>
            {% endif %}
            {% if c.userobj.sysadmin %}

            {% else %}
            {% if request.url.endswith('/dashboard/') or request.url.endswith('dashboard/') or 
            request.url.endswith('/') %}   
            
            {% endif %}
     
         {% endblock %}
        
    </div>
{% endblock %}
{% block header_logo %}

{% endblock %}
{% block header_site_search %}
    {# Conteúdo do bloco header_site_search, caso queira adicionar algo específico aqui #}
{% endblock %}
           
{% block header_site_navigation %}
{% block header_title %}
  {% if request.url.endswith('/group/') or request.url.endswith('group/') %}          
      <h1 class="Tittletype">2 - Selecione um curso</h1>               
  {% elif request.url.endswith('/organization/') or request.url.endswith('organization/') %}     
      <h1 class="Tittletype">1 - Buscar dados por campus</h1>         
  {% endif %}
{% endblock %}  
        {{ super() }}
{% endblock %}

