{% ckan_extends %}



{% block header_account %}
    {{ super() }}
    <div class="logo">
        <a class="logo" href="{{ h.url('home.index') }}">
            <img src="/logo.png" alt="OBEMI" title="OBEMI" />
        </a>
        {% block header_initial_page %}
          <ul class="Inicio">
            <li class="Inicio">
              <div class="Inicio">
                 <a href="{{ h.url_for('home.index') }}" title="Inicio">
                   <span class="fa fa-home"></span>
                   <span class="text">{{ _('Inicio') }}</span>
                 </a>
              </div>
            </li> 
           </ul>
{% endblock %}
        {% block header_site_search2 %}
            {# Conteúdo do bloco header_site_search2, caso queira adicionar algo específico aqui #}
            <div class="serch">
            <div class="database">
                <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
                    <div class="field">
                        <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
                        <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Procurar Base de Dados') }}" aria-label="{{ _('Search datasets') }}"/>
                        <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>  
            {% if request.url.endswith('/group/') or request.url.endswith('group/') or request.url.endswith('dataset') %}                

            <div class="organization">
                <button type="button" data-target="#groupsdown" data-toggle="collapse"  aria-label="expand or collapse" aria-expanded="true">
                    <span class="fa fa-arrow-down"></span>
                </button>
                <div id="groupsdown" class="groupsdown collapse">
                    {% block groups_list %}
                        {% if page.items or request.params %}
                            {% if page.items %}
                                {% snippet "group/snippets/group_list.html", groups=page.items %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            </div>
            {% endif %}
     
        {% endblock %}
        
    </div>
{% endblock %}
{% block header_logo %}

{% endblock %}
{% block header_site_search %}
    {# Conteúdo do bloco header_site_search, caso queira adicionar algo específico aqui #}
{% endblock %}
           
{% block header_site_navigation %}
{% block header_title %}
  {% if request.url.endswith('/group/') or request.url.endswith('group/') %}          
      <h1 class="Tittletype">2 - Selecione um curso</h1>               
  {% elif request.url.endswith('/organization/') or request.url.endswith('organization/') %}     
      <h1 class="Tittletype">1 - Buscar dados por campus</h1>         
  {% endif %}
{% endblock %}  
        {{ super() }}
{% endblock %}

{%- block scripts %}
  {{ super() }}
  {% asset 'js/ckantheme' %}
{% endblock -%}