{% ckan_extends %}

{%- block content %}
  {% block maintag %}<div class="main">{% endblock %}

  {% block main_content %}
    {{ super() }}
    {% block toolbar %}

    {% endblock %}
  {% endblock %}

  {% block img_campus %}
    <div style="clear: both;"></div> {# Div that clears below floating elements #}
    <div class="imgcampus">
      <p>NOSSO CAMPUS</p>
      <img src="/campusIFS.png" alt="Campus_ifs" title="Campus_ifs" class="campusifs">
    </div>
  {% endblock %}
</div>
{%- endblock %}
