{% ckan_extends %}

{% block page_primary_action %}
<div class="descini">
    <h1 class="page-heading">{{ _('SOBRE NÓS') }}</h1>
<p>O Observatório do Ensino Médio Integrado do Instituto Federal de Sergipe (OBEMI-IFS) tem como missão reunir,
    salvaguardar, monitorar e disseminar as práticas educativas de formação profissional desenvolvidas pelos cursos 
    técnicos de nível médio na forma integrada, denominadas de práticas profissionais integradas, do Instituto Federal de Sergipe. 
    Elas recebem esse nome por serem pautadas na indissociabilidade entre a teoria e a prática, ou seja, 
    os conhecimentos científicos de formação geral estão intrinsecamente relacionados com os conhecimentos de formação técnica aplicada. 
    Além disso, essas práticas devem ser desenvolvidas tendo o trabalho como princípio educativo, a pesquisa como princípio 
    pedagógico e em consonância com os arranjos produtivos da região em que os cursos estão inseridos.
 </p>
 
 <p>A proposta de um observatório de monitoramento do ensino médio integrado no IFS surge como uma medida resultante da 
     Resolução nº.40/2019/CS/IFS, que instituiu as Diretrizes Indutoras de Fortalecimento do Ensino Médio no IFS, 
     e das iniciativas de implantação de currículos integrados nesses cursos. Como uma plataforma digital, 
     o OBEMI-IFS é um software do tipo repositório temático de acesso aberto, estando em acordo com a 
     Política de Dados Abertos do Poder Executivo Federal e com o Plano de Dados Abertos do Instituto Federal de Sergipe.
 </p>
 
 <p>Assim, esperamos contribuir para a consolidação da proposta pedagógica de nossa instituição que tem como pressupostos
    a reflexão crítica e a prática efetiva da cidadania, viabilizando ao estudante autoria no processo de investigação,
    de construção, de produção, de sistematização e de democratização do saber.
 </p>
</div>
{% endblock %} 
{% block primary_content_inner %}
{% if c.userobj.sysadmin %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Group'), named_route=group_type+'.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
  {{ super() }}
{% endif %}
{% endblock %} 
{% block secondary_content %}

{% endblock %}